/* ここから下に記載していく */
body{
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 50px;
    margin: 20px;
}
h2{
    font-size: 40px;
    margin-bottom: 20px;
}
h3{
    font-size: 25px;
    font-weight: Medium;
}
.not__decoration{
    text-decoration: none;
    color: white;
}
.center{
    text-align: center;
}
/* bgc */
.bgc{
    /* padding: 1rem 2rem; */
    /* background: #f4f4f4; */
    background: rgba(223, 86, 86, 0.2);
}

/* header */
.h1__title{
    font-size: 50px;
    margin: 20px;
}
.header{
    display: flex;
    widows: 100%;
    background-color: #78BBE6;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
}
/*
.header_title{
    width: 100%;
    background-color: #78BBE6;
    align-items: center;
}*/
.header ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header ul li{
    margin: 0 30px 0 0;
    padding: 2px;
}

.nav_list{
    width: 100%;
    height: 50px;
    background-color: #1B435D;
    
}
.under_line{
    display: block;
    padding: 0 0 5px;
    position: relative;
    text-decoration: none;
  }
.under_line::before,
.under_line::after {
    border-bottom: solid 2px #F99F48;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 0;
  }
.under_line::before {
    left: 50%;
  }
.under_line::after {
    right: 50%;
  }
.under_line:hover::before,
.under_line:hover::after {
    width: 50%;
  }
/* header */

/* container */
.container{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);

}

/* container main */
.main{
    width: 66.6%;
    height: 100%;
    /* background-color: #7cbde6; */
    display: flex;
    justify-content: space-around;
}
.main__text{
    margin-bottom: 20px;
}
.main__text_p{
    margin-bottom: 20px;
}
.contents{
    width: 45%;
    height: 400px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);

    transition: box-shadow .5s;
}
.contents:hover{
    box-shadow: 0 12px 12px gray;
}
.main__various{
    padding: 30px;
}
.contents a{
    text-decoration: none;
    color: black;
}
.contents__text{
    width: 100%;
    height: 200px;
}
.kekka{
    width: 100%;
    font-size: xx-large;
}
.contents__text h3{
    margin: 10px 0 10px 5px;
}
.contents__date{
    padding: 5px 5px 10px 0;
    font-size: 14px;
}
.contents__text p{
    margin: 5px;
}
.contents__eyecatch{
    padding: 0 0 20px;
}


.rps_part{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.my_hand{
    width: 45%;
    box-shadow: 0 0 7px rgba(58, 171, 210, 1);
    display: flex;
    justify-content: center;
}
.cpu_hand{
    width: 45%;
    box-shadow: 0 0 7px rgba(223, 86, 86, 1);
    display: flex;
    justify-content: center;
}
.hand_img{
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
}
.cpu_kekka{
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
}
.rps_part_2{
    display: flex;
    justify-content: space-around;
}
.my_hand_btn{
    width: 45%;
    display: flex;
    justify-content: space-around;
}
.cpu_text{
    width: 45%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cpu_text_p{
    font-size: 25px;
}
/* container main */

/* container side */
.side{
    width: 33.3%;
    height: 100%;
    /* background-color: #F99F48; */
}

/* container side */
/* container */

/* sidebar */
.side{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.side_title{
    width: 90%;
    height: 50px;
    background-color: #78BBE6;
    display: flex;
    align-items: center;
    margin: 15px;
}
.side_text{
    margin: 15px;
    color: white;
}
.side_text_2{
    margin: 0 0 15px 15px;
    line-height: 1.5;
}
/* sidebar */

/* footer */
.footer{
    width: 100%;
    height: 80px;
    background-color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer small{
    color: #dcdcdc;
}

/* footer */